/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
ul{
    list-style-type: none;
    display: inline-block;
}
a{
    text-decoration: none;
    color:black;
}
.button{
    background-color: #0061FF;
    color: white;
    padding:10px 20px;
}



/*Layout*/
.container{
    max-width: 1250px;
    margin: 0 auto;
}

.container-small{
    width: 950px;
    margin: 0 auto;
}

.row{
    width: 100%;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}
.col-1{
    width: calc(100%/12);
}

.col-2{
    width: calc((100%/12)*2);
    float: left;
}

.col-3{
    width: calc((100%/12)*3);
    float: left;
}

.col-4{
    width: calc((100%/12)*4);
    float: left;
}

.col-6{
    width: calc((100%/12)*6);
    float: left;
}

.col-8{
    width: calc((100%/12)*8);
    float: left;
}

.col-11{
    width: calc((100%/12)*11);
}

.col-12{
    width: 100%;
}

/*HEADER*/
header{
    padding: 10px;
}

header img{
    vertical-align: middle;
}

header .col-6{
    line-height: 37px;
}

header ul li{
    display: inline-block;
    
}

header ul li a{
    padding: 20px;
    vertical-align: middle;
}

header .row .col-6:nth-child(2){
    text-align: right;
}


/****
    MAIN
        ****/
/***JUMBO***/
.jumbo{
    background-color: #B4D0E7;
    padding-top: 50px;
    margin-bottom: 150px;
}

.jumbo h1{
    padding-bottom: 30px;
    font-size: 62px;
}

.jumbo p{
    padding-bottom:30px;
}

.jumbo .button{
    margin-bottom: 20px;
}

#special{
    padding-top: 20px;
}

.jumbo .col-8 img{
    width: 100%;
    margin-bottom: -80px;
}

.fas.fa-arrow-down{
    font-size: 40px;
}

/***BUSINESS***/
/*3 colonne*/
.business{
    padding-bottom: 100px;
}
.business h2{
    font-size:35px;
    
    padding-bottom: 40px;
}

.business .radio-button{
    padding-bottom: 30px;
}

.business .col-4{/*?*/
    width: calc(100%/12*4 - 20px);
    border: solid 1px lightgray;
    margin-right:30px;
}

.business .col-4:nth-child(3){
    margin-right: 0;
}

.header-col{
    text-align: center;
    padding: 10px;
    border-bottom: solid 1px lightgray;
}

.body-col{
    padding: 20px;
    font-size: 14px;
}

.business h3{
    font-size: 18px;
    padding-bottom: 20px;
}

.business h4{
    padding-bottom: 20px;
}

.under-price{
    color: gray;
    font: 10px;
}

.business ul{
    padding-bottom:30px ;
}

p.bordo{
    padding-top: 30px;
}

.bordo::after{
    content: '';
    display: block;
    height: 1px;
    width: 40px;
    background-color: #aaa;
    margin-top: 30px;
}

.business .button{
    display: block;
    text-align: center;
}

.business p a{
    color:#0061FF;
    text-decoration: underline; 
    margin-bottom: 15px;
}

.business ul{
    padding-top: 30px;
    
}

.business ul li{
    padding:12px 0;
}

.business .fas.fa-check{
    color: #0061FF;
}

.business .row{
    margin-bottom:20px;
}


/*colonna enterprise*/
.business .col-12{
    border:solid 1px lightgray
}

.contact h3{
    display: inline-block;
}

.contact .button{
    float: right;
    padding: 10px 40px;
}

/*PARTNER*/
.partner .col-6 img{
    width: 100%;
}
.partner .col-6:nth-child(2){
    padding-left: 30px;
}
.partner h2{
    padding-bottom: 20px;
}
.partner p{
    padding-bottom: 30px;
}
.button.white{
    background-color: white;
    border:1px solid black;
    color: black;
}
.partner{
    padding-bottom: 100px;
}

/*OPERATION*/
.operation{
    padding-bottom: 50px;
}
.operation h2{
    font-size: 35px;
    padding-bottom: 40px;
}
.operation img{
    width: 100%;
    padding-bottom: 10px;
}
.operation h3{
    padding-bottom: 20px;
}
.operation .row{
    padding-bottom: 50px;
}

.operation .col-4{/*?*/
    width: calc(100%/12*4 - 20px);
    margin-right:30px;
}

.operation .col-4:nth-child(3){
    margin-right: 0;
}

/*TEAM*//*Mi complico la vita*/
.team h2{
    font-size: 35px;
    padding-bottom: 30px;
}
.team .container-small a{
    color:#0061FF;
    text-decoration: underline; 
}

.team .container-small{
    margin-bottom: 50px;
}

.team .col-6 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding:80px;
}

.team .col-6{
    height: 320px;
}

.center-card img{
    width: 150px;
    margin-bottom: 80px;
}

.team .col-4{
    height: 640px;
}

.center-card{
    padding:100px 30px;
    background-color: #F5F5F5;
    height: 100%;
}

.center-card p{
    padding-bottom: 30px;
}

.design{
    background-color: #A2D39B;
}
.arizona{
    background-color: #61082B;
}
.florida{
    background-color: #0093CE;
}
.topps{
    background-color: #FF1C1C;
}
.world{
    background-color: #D5001F;
}
.lonely{
    background-color: #0D2481;
}
.hearst{
    background-color: #B4D0E7;
}
.clear{
    background-color: #FFD830;
}

/*BANNER*/
.banner{
    background-color: #B4D0E7;
    height: 400px;
    position: relative;
}

.banner .col-6:nth-child(2){
   text-align: right;
}

.banner h2{
    font-size: 35px;
    color:#61082B;
}

.banner .container-small{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*QUESTION*/
.question p{
    display: inline-block;
}
.question .fas.fa-angle-down{
    float: right;
    padding-right: 20px;
    font-size: 20px;
}
.question .answer{
    padding: 30px 0;
    border-top: 1px solid grey;
}
.question .answer:last-child{
    border-bottom: 1px solid grey;
}
.question h2{
    padding-bottom: 50px;
    font-size: 35px;
}
.question{
    margin-top: 60px;
}